---
import { Image } from "@astrojs/image/components"

export type Page = {
  name: string
  slug: string
  image: string
}

const pages: Page[] = [
{
  name: "Início",
  slug: "/",
  image: "/Icons/House.svg"
},
{
  name: "Menu",
  slug: "/menu",
  image: "/Icons/Menu.svg"
},
{
  name: "Eventos",
  slug: "/events",
  image: "/Icons/Events.svg"
},
{
  name: "Sobre",
  slug: "/about",
  image: "/Icons/About.svg"
},
{
  name: "Contato",
  slug: "/contact",
  image: "/Icons/Contact.svg"
},

]

---

<nav class="desktop-nav transition-all fixed top-0 md:top-0 z-30 w-full bg-zinc-800">
  <div class="m-auto flex max-w-5xl items-center justify-between px-6 py-3 lg:px-6">
    <div class="w-[90px] h-[48px] flex align-center">
      <a href="/">
        <img src="/LePetitLogo.png" alt="">
      </a>
    </div>
    
    <div class="flex items-center gap-6">
      {
        pages.map((page) => (
        <a
          data-nav
          href={page.slug}
          class:list={"transition-colors hidden md:block text-slate-100 hover:text-red-500"}
        >
        {page.name}
      </a>
      ))
    }
    
      <button class="block bg-red-500 text-slate-100 md:hidden rounded-full px-6 py-3">
        <a href="/menu">Cardápio</a>
      </button>
    </div>
  </div>
</nav>

<nav class="mobile-nav w-full fixed z-50 bg-zinc-800 bottom-0 flex md:hidden lg:hidden justify-between p-4">
    {
      pages.map((page) => (
      <div class="flex flex-col items-center">
        <Image
          width={24}
          height={24}
          src={page.image}
          quality={100}
          format="svg"
          alt="Ícone da navegação."
          class="w-[24px] h-[24px]"
        />
        <a
          data-nav
          href={page.slug}
          class:list={"block lg:hidden text-slate-100 hover:text-red-500"}
        >
        {page.name}
      </a>
    </div>
    ))
  }
  
</nav>

<style>
  .selected {
    @apply !text-primary-base;
  }
  
  .nav-hidden {
    transform: translateY(calc(-1 * 72px))
  }
</style>

<script defer>
  function main() {
    const pathname = location.pathname
    /** @type {HTMLAnchorElement[]} */
    const links = document.querySelectorAll("nav a[data-nav]")
    
    links.forEach((link) => {
      if (link.pathname === pathname) {
        link.classList.add("selected")
      }
    })
  }
  
  document.addEventListener("DOMContentLoaded", main)
  
  // Auto-hides navbar
  const nav = document.querySelector(".desktop-nav")
  let lastScroll = window.scrollY
  
  window.addEventListener("scroll", () => {
    if (lastScroll < window.scrollY) {
      nav.classList.add('nav-hidden')
    } else {
      nav.classList.remove('nav-hidden')
    }
    
    lastScroll = window.scrollY
  })
</script>
